<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>

<h2>Options</h2>

<h3>Language</h3>
<button (click)="setLanguage('en')">Language EN</button>
<button (click)="setLanguage('pt-BR')">Language PT</button>
<button (click)="customLanguage()">Language Custom</button>
<hr />

<h3>Live Reload</h3>
<button (click)="changeData()">New Data</button>
<!-- <button (click)="changeObject()">Change Data</button> -->
Random Number: {{data.randomNumber}}

<h3>Custom Options</h3>
<button (click)="setAce()">Customize Ace</button>
<button (click)="toggleNav()">Navigation Bar</button>
<button (click)="toggleStatus()">Status Bar</button>


<hr />

<h3 *ngIf="editorOptions.language">Force Language to {{editorOptions.language}}</h3>

<h3>Example with (change)</h3>
<div style="height:600px;">
  <json-editor [options]="editorOptions" (change)="changeLog($event)" [data]="data" #editor></json-editor>
  <app-show [data]="showData"></app-show>
</div>



<h3>Using options and data variable </h3>

<div style="height:300px;">
  <form [formGroup]="form" (submit)="submit()">
    <json-editor [options]="editorOptions2" formControlName="myinput" #editorTwo></json-editor>
    <div *ngIf="formData">
      <h4>Form submitted</h4>
      {{ formData }}
    </div>
    <button>Submit</button>
  </form>
</div>


<h2>Multi json in a loop</h2>
<button (click)="show=!show">Show/Hide Json Editors</button>
<div *ngIf="show === true">
  <div *ngFor="let prd of dataMulti.products" class="w-100-p p-24">
    <json-editor [options]="makeOptions()" [data]="prd" (change)="showJson($event)" ></json-editor>
  </div>
</div>


<table>
  <tr>
    <td>Last edit data</td>
  </tr>
  <tr>
    <td>{{editedData}}</td>
  </tr>
</table>
<hr>