<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>

<h2>Options</h2>

<h3>Language</h3>
<button (click)="setLanguage('en')">Language EN</button>
<button (click)="setLanguage('pt-BR')">Language PT</button>
<button (click)="customLanguage()">Language Custom</button>
<hr/>

<h3>Live Reload</h3>
<button (click)="changeData()">New Data</button>
<!-- <button (click)="changeObject()">Change Data</button> -->
Random Number: {{data.randomNumber}}

<h3>Custom Ace</h3>
<button (click)="setAce()">Customize Ace</button>


<hr/>

<h3 *ngIf="editorOptions.language">Force Language to {{editorOptions.language}}</h3>
<div style="height:300px;">
  <json-editor [options]="editorOptions" [data]="data" #editor></json-editor>
</div>

<h3>Multiple jsoneditor</h3>
<div style="height:600px;">
  <json-editor [options]="editorOptions" [data]="data2" #editorTwo></json-editor>
</div>